.body {
  background-color: whitesmoke;
}
/* 
.navbar {
  border-bottom: white solid 10px;
} */
.fix-footer {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  overflow: hidden;
  color: black;
  padding: 3rem 1.5rem 6rem;
  background-color: lightgray;
}

.contact {
  margin: 0 20px;
}

.image-main {
  height: 300px;
  width: 300px;
}
